/* ******************************************************************* */
/*---------------------------- secciones------------------------------ */
/* ******************************************************************* */

body{
    margin: 3%;
    background-color: #D3D0CF;
}
section{
    margin-top: 2%;
    width: 67%;
    float: right;
    background-color: #f0ecec;
    border-radius: 10px;
    height: 70vh;
}
article{
    margin: 2%;
    text-align: center;
    background-color: #D3D0CF;
    border-radius: 10px;
    height: 58vh;
    padding: 2%;
}
/* ******************************************************************* */
/*---------------------------- tabs----------------------------------- */
/* ******************************************************************* */
.tab {
    display: inline-flex;
  }
  
  .tab button {
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    border-radius: 20px;
    border: 0;
    margin: 5px;
  }

  .tab button:hover {
    background-color: rgb(207, 83, 83);
  }
  
  .tab button.active {
    background-color: rgb(151, 205, 207);
  }
  
  .tabcontent {
    display: none;
  }