body{
    margin: 3%;
    background-color: #D3D0CF;
}

header{
    width: 65%;
    float: right;
    text-align: right;
}
aside{
    width: 35%;
    float: left;
    background-color: #f0ecec;
    height: 100vh;
    margin-top: -6%;
    margin-left: -3.5%;
    text-align: center;
    border-bottom-right-radius: 40px;
    border-top-right-radius: 40px;
}
nav{
    margin-top: 2%;
    width: 65%;
    float: right;
    background-color: #f0ecec;
    height: 27px;
    text-align:left;
    border-radius: 8px;
    padding: 10px;
}
section{
    margin-top: 2%;
    width: 67%;
    float: right;
    background-color: #f0ecec;
    border-radius: 10px;
    height: 56vh;
}
article{
    margin: 2%;
    text-align: center;
    background-color: #D3D0CF;
    border-radius: 10px;
    height: 45vh;
    padding: 2%;
}
footer{
    margin-top: 2%;
    width: 67%;
    float: right;
    background-color: #f0ecec;
    border-radius: 10px;
    text-align: center;
    height: 10vh;
}

