<!DOCTYPE html>
<html lang="en">

<head th:replace="layouts/base_template::head">
</head>

<body>
    <div class="container-scroller">
        <!--***************************************************************************************************************************************************-->
        <!--------------------- Nav ------------------->
        <!--***************************************************************************************************************************************************-->
        <nav th:replace="layouts/base_template::navbar"></nav>
        <div class="container-fluid page-body-wrapper">
            <!--***************************************************************************************************************************************************-->
            <!--------------------- Combio de color ------------------->
            <!--***************************************************************************************************************************************************-->
            <div th:replace="layouts/base_template::color"></div>
            <!--***************************************************************************************************************************************************-->
            <!--------------------- Panel ------------------->
            <!--***************************************************************************************************************************************************-->
            <div th:replace="layouts/base_template::panel"></div>
            <!--***************************************************************************************************************************************************-->
            <!--------------------- Menú ------------------->
            <!--***************************************************************************************************************************************************-->
            <nav th:replace="layouts/base_template::sidebar"></nav>
            <div class="main-panel">
                <!--***************************************************************************************************************************************************-->
                <!---------------------  Contenido ------------------->
                <!--***************************************************************************************************************************************************-->
                <!--///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
                <div class="content-wrapper">
                    <div class="row">
                        <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                            <h3 class="font-weight-bold">Welcome Aamir</h3>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 grid-margin stretch-card">
                            <div class="card position-relative">
                                <div class="card-body">
                                    <div id="detailedReports"
                                        class="carousel slide detailed-report-carousel position-static pt-2"
                                        data-ride="carousel">
                                        <form class="form-sample" th:action="@{/proveedor/add}" method="post"
                                            th:object="${proveedor}">
                                            <p class="card-description">
                                                Personal info
                                            </p>
                                            <!-- nombre -->
                                            <!-- ******************* -->
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="col-sm-3 col-form-label" for="nombre">Nombre
                                                            Proveedor:</label>
                                                        <div class="col-sm-9">
                                                            <input th:field="*{nombre}" type="text" id="nombre"
                                                                name="nombre" placeholder="Nombre"
                                                                class="form-control" />
                                                            <div class="validacion"
                                                                th:if="${#fields.hasErrors('nombre')}"
                                                                th:errors="*{nombre}"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- nombre de contacto -->
                                                <!-- ******************* -->
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="col-sm-3 col-form-label" for="contacto">Nombre
                                                            de contacto:</label>
                                                        <div class="col-sm-9">
                                                            <input th:field="*{contacto}" type="text" id="contacto"
                                                                name="contacto" placeholder="Nombre de contacto"
                                                                class="form-control" />
                                                            <div class="validacion"
                                                                th:if="${#fields.hasErrors('contacto')}"
                                                                th:errors="*{contacto}"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- direccion -->
                                            <!-- ******************* -->
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="col-sm-3 col-form-label"
                                                            for="direccion">Dirección:</label>
                                                        <div class="col-sm-9">
                                                            <input th:field="*{direccion}" type="text" id="direccion"
                                                                name="direccion" placeholder="Dirección"
                                                                class="form-control">
                                                            <div class="validacion"
                                                                th:if="${#fields.hasErrors('direccion')}"
                                                                th:errors="*{direccion}"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- email -->
                                                <!-- ******************* -->
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="col-sm-3 col-form-label"
                                                            for="email">Email:</label>
                                                        <div class="col-sm-9">
                                                            <input th:field="*{email}" type="email" name="email"
                                                                id="email" class="form-control">
                                                            <div class="validacion"
                                                                th:if="${#fields.hasErrors('direccion')}"
                                                                th:errors="*{direccion}"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- telefono -->
                                            <!-- ******************* -->
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="col-sm-3 col-form-label"
                                                            for="telefono">Telefono:</label>
                                                        <div class="col-sm-9">
                                                            <input th:field="*{telefono}" type="number" id="telefono"
                                                                name="telefono" class="form-control">
                                                            <div class="validacion"
                                                                th:if="${#fields.hasErrors('telefono')}"
                                                                th:errors="*{telefono}"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="col-sm-3 col-form-label">Estado</label>
                                                        <div class="col-sm-4">
                                                            <div class="form-check">
                                                                <label class="form-check-label" for="activo">
                                                                    <input class="form-check-input" th:field="*{estado}"
                                                                        type="radio" name="estado" id="activo" value="1"
                                                                        checked>Activo
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-5">
                                                            <div class="form-check">
                                                                <label class="form-check-label" for="inactivo">
                                                                    <input class="form-check-input" th:field="*{estado}"
                                                                        type="radio" name="estado" id="inactivo"
                                                                        value="0">Inactivo
                                                                </label>
                                                                <div class="validacion"
                                                                    th:if="${#fields.hasErrors('estado')}"
                                                                    th:errors="*{estado}"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <button type="submit" class="btn btn-primary mb-2">Enviar</button>
                                                </div>
                                            </div>
                                    </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!--///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
                <!--***************************************************************************************************************************************************-->
                <!------------------------- Footer -------------------------->
                <!--***************************************************************************************************************************************************-->
                <footer th:replace="layouts/base_template::footer"></footer>
            </div>
        </div>
    </div>
    <!--***************************************************************************************************************************************************-->
    <!--------------------- Scripts------------------->
    <!--***************************************************************************************************************************************************-->
    <div th:replace="layouts/base_template::script"></div>
</body>

</html>