<!DOCTYPE html>
<html lang="en">

<head th:replace="layouts/base_template::head">
</head>

<body>
    <div class="container-scroller">
        <!--***************************************************************************************************************************************************-->
        <!--------------------- Nav ------------------->
        <!--***************************************************************************************************************************************************-->
        <nav th:replace="layouts/base_template::navbar"></nav>
        <div class="container-fluid page-body-wrapper">
            <!--***************************************************************************************************************************************************-->
            <!--------------------- Combio de color ------------------->
            <!--***************************************************************************************************************************************************-->
            <div th:replace="layouts/base_template::color"></div>
            <!--***************************************************************************************************************************************************-->
            <!--------------------- Panel ------------------->
            <!--***************************************************************************************************************************************************-->
            <div th:replace="layouts/base_template::panel"></div>
            <!--***************************************************************************************************************************************************-->
            <!--------------------- Menú ------------------->
            <!--***************************************************************************************************************************************************-->
            <nav th:replace="layouts/base_template::sidebar"></nav>
            <div class="main-panel">
                <!--***************************************************************************************************************************************************-->
                <!---------------------  Contenido ------------------->
                <!--***************************************************************************************************************************************************-->
                <!--///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
                <div class="content-wrapper">

                    <div class="row">
                        <div class="col-md-12 grid-margin stretch-card">
                            <div class="card position-relative">
                                <div class="card-body">
                                    <div id="detailedReports"
                                        class="carousel slide detailed-report-carousel position-static pt-2"
                                        data-ride="carousel">
                                        <a class="btn btn-primary" th:href="@{/proveedor/formulario}">Registrar
                                            Proveedor</a>
                                        <table class="table table-hover">
                                            <thead>
                                                <th>id</th>
                                                <th>Nombre</th>
                                                <th>Contacto</th>
                                                <th>Telefono</th>
                                                <th>Dirección</th>
                                                <th>Email</th>
                                                <th>Estado</th>
                                                <th>Opcciones</th>

                                            </thead>
                                            <tbody>
                                                <tr th:if="${proveedores.size()>0}" th:each="e : ${proveedores}">
                                                    <td th:text="${e.id}"></td>
                                                    <td th:text="${e.nombre}"></td>
                                                    <td th:text="${e.contacto}"></td>
                                                    <td th:text="${e.telefono}"></td>
                                                    <td th:text="${e.direccion}"></td>
                                                    <td th:text="${e.email}"></td>
                                                    <td th:if="${e.estado==true}">
                                                        <span>activo</span>
                                                    </td>
                                                    <td th:if="${e.estado==false}">
                                                        <span>inactivo</span>
                                                    </td>
                                                    <td>
                                                        <a th:href="@{/proveedor/edit/}+${e.id}">
                                                            <button type="button"
                                                                class="btn btn-primary btn-rounded btn-icon">
                                                                <i class="ti-pencil"></i>
                                                            </button>
                                                        </a>

                                                    </td>


                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!--///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
                <!--***************************************************************************************************************************************************-->
                <!------------------------- Footer -------------------------->
                <!--***************************************************************************************************************************************************-->
                <footer th:replace="layouts/base_template::footer"></footer>
            </div>
        </div>
    </div>
    <!--***************************************************************************************************************************************************-->
    <!--------------------- Scripts------------------->
    <!--***************************************************************************************************************************************************-->
    <div th:replace="layouts/base_template::script"></div>
</body>

</html>