<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" th:href="@{/assets/css/style.css}">
</head>
<body>
    <header th:fragment="header">
        <!-- iconos -->
        <img th:src="@{/assets/img/msj.png}" width="25px">
        <img th:src="@{/assets/img/pregunta.png}"  width="25px">
        <!-- barra de busqueda -->
        <input type="search" name="busqueda" placeholder="Buscar">
        <img th:src="@{/assets/img/usuario.png}"  width="25px">
    </header>
    <nav>
        <a th:href="@{/index}">Home</a>
    </nav>
    <aside th:fragment="aside">
<!-- *************************************************** -->
<!-- ----------------Lista Desplegable------------------ -->
<!-- *************************************************** -->
        <ul>
    <!-- -----------------------Home------------------------ -->
                <li class="list-item">
                    <div class="list-button list-out">
                        <img th:src="@{/assets/img/boton.png}" class="list-img">
                        <a th:href="@{/index}" class="nav-link">Home</a>
                    </div>
                </li>
    <!-- --------------------Producción----------------------- -->
                <li class="list-item list-item--click">
                    <div class="list-button list-button--click">
                        <img th:src="@{/assets/img/boton.png}" class="list-img">
                        <a href="#" class="nav-link">Producción</a>
                        <img th:src="@{/assets/img/arrow.png}" class="list-arrow">
                    </div>
    
                    <ul class="list-show">
                        <li class="list-inside">
                            <a th:href="@{/producto}" class="nav-link nav-link--inside">Producto</a>
                        </li>
    
                        <li class="list-inside">
                            <a th:href="@{/insumo}" class="nav-link nav-link--inside diva">Insumo</a>
                        </li>

                        <li class="list-inside">
                            <a th:href="@{/fabricacion}" class="nav-link nav-link--inside diva">Fabricación</a>
                        </li>
                    </ul>
    
                </li>
    
    <!-- -----------------------Empleado------------------------ -->
                <li class="list-item">
                    <div class="list-button list-out">
                        <img th:src="@{/assets/img/boton.png}" class="list-img">
                        <a th:href="@{/empleado}" class="nav-link">Empleado</a>
                    </div>
                </li>
    <!-- ------------------------Entidad------------------------- -->
                <li class="list-item list-item--click">
                    <div class="list-button list-button--click">
                        <img th:src="@{/assets/img/boton.png}" class="list-img">
                        <a href="#" class="nav-link">Entidad</a>
                        <img th:src="@{/assets/img/arrow.png}" class="list-arrow">
                    </div>
    
                    <ul class="list-show">
                        <li class="list-inside">
                            <a th:href="@{/empresa}" class="nav-link nav-link--inside">Empresa</a>
                        </li>
    
                        <li class="list-inside">
                            <a th:href="@{/proveedor}" class="nav-link nav-link--inside">Proveedor</a>
                        </li>
    
                    </ul>
    
                </li>
    <!-- ------------------------Inventario------------------------- -->
                <li class="list-item list-item--click">
                    <div class="list-button list-button--click">
                        <img th:src="@{/assets/img/boton.png}" class="list-img">
                        <a href="#" class="nav-link">Inventario</a>
                        <img th:src="@{/assets/img/arrow.png}" class="list-arrow">
                    </div>
    
                    <ul class="list-show">
                        <li class="list-inside">
                            <a th:href="@{/inventariopro}" class="nav-link nav-link--inside">Productos</a>
                        </li>
    
                        <li class="list-inside">
                            <a th:href="@{/inventario}" class="nav-link nav-link--inside">Insumos</a>
                        </li>
    
                    </ul>
    
                </li>
    <!-- ------------------------Novedades------------------------- -->
                <li class="list-item">
                    <div class="list-button list-out">
                        <img th:src="@{/assets/img/boton.png}" class="list-img">
                        <a th:href="@{/}" class="nav-link">Novedades</a>
                    </div>
                </li>
    <!-- ---------------------------Otros--------------------------- -->
                <li class="list-item">
                    <div class="list-button list-out">
                        <img th:src="@{/assets/img/boton.png}" class="list-img">
                        <a th:href="@{/}" class="nav-link">Otros</a>
                    </div>
                </li>
    
            </ul>
    
    </aside>
    <section>
        
    </section>
    <footer th:fragment="footer">
        <p>Creado por MaDiSeNaSa, gracias bbs</p>
        <script th:src="@{/assets/js/menu.js}"></script>
        <script th:src="@{/assets/js/fabricacion.js}"></script>
    </footer>
</body>
</html>