<!DOCTYPE html>
<html lang="en">

<head th:replace="layouts/base_template::head">
</head>
<body>
    <div class="container-scroller">
<!--***************************************************************************************************************************************************-->
<!--------------------- Nav ------------------->
<!--***************************************************************************************************************************************************-->
        <nav th:replace="layouts/base_template::navbar"></nav>
        <div class="container-fluid page-body-wrapper">
<!--***************************************************************************************************************************************************-->
<!--------------------- Combio de color ------------------->
<!--***************************************************************************************************************************************************-->
            <div th:replace="layouts/base_template::color"></div>
<!--***************************************************************************************************************************************************-->
<!--------------------- Panel ------------------->
<!--***************************************************************************************************************************************************-->
            <div th:replace="layouts/base_template::panel"></div>
<!--***************************************************************************************************************************************************-->
<!--------------------- Menú ------------------->
<!--***************************************************************************************************************************************************-->
            <nav th:replace="layouts/base_template::sidebar"></nav>
            <div class="main-panel">
<!--***************************************************************************************************************************************************-->
<!---------------------  Contenido ------------------->
<!--***************************************************************************************************************************************************-->
<!--///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
                <div class="content-wrapper">
                    <div class="row">
                        <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                            <h3 class="font-weight-bold">Welcome Aamir</h3>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 grid-margin stretch-card">
                            <div class="card position-relative">
                                <div class="card-body">
                                    <div id="detailedReports" class="carousel slide detailed-report-carousel position-static pt-2" data-ride="carousel">
                                        <h1>Producto</h1>
                                        <form th:action="@{/producto/add}" enctype="multipart/form-data" method="post" th:object="${producto}">
                                            <!-- nombre -->
                                            <!-- ******************* -->
                                            <div>
                                                <label for="nombre">Nombre:</label>
                                                <input th:field="*{nombre}" type="text" id="nombre" name="nombre" placeholder="Nombre">
                                                <div class="validacion" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div>
                                                <br>
                                            </div>
                                            <!-- Descripción del categoria-->
                                            <!-- ******************* -->
                                            <div>
                                                <label for="nombre">Descripción del producto:</label><br>
                                                <textarea  th:field="*{descripcion}" name="descripcion" id="descripcion" placeholder="Descripción" cols="30" rows="10"></textarea>
                                                <div class="validacion" th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}"></div>
                                                <br>
                                            </div>
                                            <!-- categoria -->
                                            <!-- ******************* -->
                                            <div>
                                                <label for="categoria">Categoria:</label>
                                                <select th:field="*{categoria}" name="categoria" id="categoria">
                                                    <option value="0">Seleccione la Categoria...</option>
                                                    <th:block th:each="categoria :${categorias}">
                                                        <option th:text="${categoria.nombre}" th:value="${categoria.id}"></option>
                                                    </th:block>
                                                </select>
                                                <div class="validacion" th:if="${#fields.hasErrors('categoria')}" th:errors="*{categoria}"></div>
                                                <br>
                                            </div>
                                            <!-- agregar categoria -->
                                            <!-- ******************* -->
                                            <div><div class="col-md-6 grid-margin stretch-card">
                                                <div class="card">
                                                  <div class="card-body">
                                                    <h4 class="card-title">Select 2</h4>
                                                    <div class="form-group">
                                                      <label>Single select box using select 2</label>
                                                      <select class="js-example-basic-single w-100">
                                                        <option value="AL">Marcos</option>
                                                        <option value="WY">Wyoming</option>
                                                        <option value="AM">America</option>
                                                        <option value="CA">Canada</option>
                                                        <option value="RU">Russia</option>
                                                      </select>
                                                    </div>
                                                    <div class="form-group">
                                                      <label>Multiple select using select 2</label>
                                                      <select class="js-example-basic-multiple w-100" multiple="multiple">
                                                        <option value="AL">Alabama</option>
                                                        <option value="WY">Wyoming</option>
                                                        <option value="AM">America</option>
                                                        <option value="CA">Canada</option>
                                                        <option value="RU">Russia</option>
                                                      </select>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                                                Launch demo modal
                                            </button>
                                                <a href="#agregarCategoria">Agregar Categoria</a>
                                                <br>
                                            </div>

                                            <!-- Fotografia -->
                                            <!-- ******************* -->
                                            <div>
                                                <label for="archivo">Fotografia:</label>
                                                <input type="file" name="file" id="imagen">
                                            </div>
                                            <!-- Estado -->
                                            <!-- ******************* -->
                                            <div>
                                                <label >Estado:</label>
                                                    <label for="activo">Activo</label>
                                                    <input th:field="*{estado}" type="radio" name="estado" id="activo" value="1">
                                                    <label for="inactivo">Inactivo</label>
                                                    <input th:field="*{estado}" type="radio" name="estado" id="inactivo" value="0">
                                                    <div class="validacion" th:if="${#fields.hasErrors('estado')}" th:errors="*{estado}"></div>
                                                <br>
                                            </div>


                                            <button type="submit">Enviar</button>

                                        </form>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
<!--///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
<!--***************************************************************************************************************************************************-->
<!------------------------- Footer -------------------------->
<!--***************************************************************************************************************************************************-->
                <footer th:replace="layouts/base_template::footer"></footer>
            </div>
        </div>
    </div>
<!--***************************************************************************************************************************************************-->
<!--------------------- Scripts------------------->
<!--***************************************************************************************************************************************************-->
    <div th:replace="layouts/base_template::script"></div>
</body>

</html>