<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Producto</title>
    <link rel="stylesheet" th:href="@{/assets/css/style.css}">
</head>

<body>
    <header th:replace="layouts/base::header"></header>
    <nav><a href="#">Home</a></nav>
    <aside th:replace="layouts/base::aside"></aside>
    <section>
        <article>
            <a th:href="@{/producto/formulario}">Registrar producto</a>
            <table>
                <thead>
                    <th>id</th>
                    <th>Nombre</th>
                    <th>descripción</th>
                    <th>Categorías</th>
                    <th>Estado</th>
                    
                </thead>
                <tbody>
                    <tr th:if="${productos.size()>0}" th:each="p : ${productos}">
                        <td th:text="${p.id}"></td>
                        <td th:text="${p.nombre}"></td>
                        <td th:text="${p.descripcion}"></td>
                        <td>
                            <ul th:if="${p.categoria.size()>0}" th:each="categoria : ${p.categoria}">
                                <li th:text="${categoria.nombre}"></li>
                            </ul>
                        </td>
                        <!-- <td th:text="${p.categoria.nombre}"></td> -->
                        
                        <td th:if="${p.estado==true}">
                            <span>Activo</span>
                        </td>
                        <td th:if="${p.estado==false}">
                            <span>Inactivo</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </article>
    </section>
    <footer th:replace="layouts/base::footer"></footer>
</body>

</html>