<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Producto</title>
    <link rel="stylesheet" th:href="@{/assets/css/producto.css}">
</head>

<body>
    <section>
        <article>
            <table>
                <thead>
                    <th>id</th>
                    <th>Nombre</th>
                    <th>descripción</th>
                    <th>Estado</th>
                    <th>Id Categoría</th>
                </thead>
                <tbody>
                    <tr th:if="${productos.size()>0}" th:each="p : ${productos}">
                        <td th:text="${p.id}"></td>
                        <td th:text="${p.nombre}"></td>
                        <td th:text="${p.descripcion}"></td>
                        <!-- <td th:text="${p.categoria.nombre}"></td> -->
                        <td th:if="${p.estado==true}">
                            <span>Activo</span>
                        </td>
                        <td th:if="${p.estado==false}">
                            <span>Inactivo</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </article>
    </section>
</body>

</html>