<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Producto</title>
    <link rel="stylesheet" th:href="@{/assets/css/style.css}">
</head>

<body>
    <header th:replace="layouts/base::header"></header>
    <nav><a href="#">Home</a></nav>
    <aside th:replace="layouts/base::aside"></aside>
    <section>
        <article>
            <a th:href="@{/producto/formulario}">Registrar producto</a>
            <table>
                <thead>
                    <th>id</th>
                    <th>Nombre</th>
                    <th>descripción</th>
                    <th>Estado</th>
                    <th>Categorías</th>
                </thead>
                <tbody>
                    <tr th:if="${productos.size()>0}" th:each="p : ${productos}">
                        <td th:text="${p.id}"></td>
                        <td th:text="${p.nombre}"></td>
                        <td th:text="${p.descripcion}"></td>
                        <!-- <td th:text="${p.categoria.nombre}"></td> -->
                        <td th:if="${p.estado==true}">
                            <span>Activo</span>
                        </td>
                        <td th:if="${p.estado==false}">
                            <span>Inactivo</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </article>

        <h2>Entrada</h2>
        <form th:action="@{addentrada}" method="post" th:object="${entradapro}">
            <!-- fecha entrada -->
            <!-- ******************* -->
            <div>
                <label for="fecha">Fecha entrada:</label>
                <input th:field="*{fecha}" type="number" id="fecha" name="fecha">
                <div class="validacion" th:if="${#fields.hasErrors('fecha')}" th:errors="*{fecha}"></div>
                <br>
            </div>
            <br>
            </div>
            <!-- Cantidad entrada-->
            <!-- ******************* -->
            <div>
                <label for="Cantidad">Cantidad entrada:</label>
                <input th:field="*{cantidad}" type="number" id="cantidad" name="cantidad">
                <div class="validacion" th:if="${#fields.hasErrors('cantidad')}" th:errors="*{cantidad}"></div>
                <br>
            </div>
            <br>
            </div>
            <!-- Estado -->
            <!-- ******************* -->
            <div>
                <label>Estado:</label>
                <label for="activo">Activo</label>
                <input th:field="*{estado}" type="radio" name="estado" id="activo" value="1">
                <label for="inactivo">Inactivo</label>
                <input th:field="*{estado}" type="radio" name="estado" id="inactivo" value="0">
                <div class="validacion" th:if="${#fields.hasErrors('estado')}" th:errors="*{estado}"></div>
            </div>
            <button type="submit">Enviar</button>
        </form>

        <h2>Salida</h2>
        <form th:action="@{/inventariopro/addsalida}" method="post" th:object="${salidapro}">
            <!-- fecha salida -->
            <!-- ******************* -->
            <div>
                <label for="fecha">Fecha salida:</label>
                <input th:field="*{fecha}" type="date" id="fecha" name="fecha">
                <div class="validacion" th:if="${#fields.hasErrors('fecha')}" th:errors="*{fecha}"></div>
                <br>
            </div>
            <br>
            </div>
            <!-- Cantidad salida-->
            <!-- ******************* -->
            <div>
                <label for="Cantidad">Cantidad salida:</label>
                <input th:field="*{cantidad}" type="number" id="cantidad" name="cantidad">
                <div class="validacion" th:if="${#fields.hasErrors('cantidad')}" th:errors="*{cantidad}"></div>
                <br>
            </div>
            <br>
            </div>
            <!-- Estado -->
            <!-- ******************* -->
            <div>
                <label>Estado:</label>
                <label for="activo">Activo</label>
                <input th:field="*{estado}" type="radio" name="estado" id="activo" value="1">
                <label for="inactivo">Inactivo</label>
                <input th:field="*{estado}" type="radio" name="estado" id="inactivo" value="0">
                <div class="validacion" th:if="${#fields.hasErrors('estado')}" th:errors="*{estado}"></div>
            </div>
            <button type="submit">Enviar</button>
        </form>

        <h2>inventario</h2>
        <form th:action="@{/inventariopro/addinventario}" method="post" th:object="${inventariopro}">
            <div>
                <label>Estado:</label>
                <label for="activo">Activo</label>
                <input th:field="*{estado}" type="radio" name="estado" id="activo" value="1">
                <label for="inactivo">Inactivo</label>
                <input th:field="*{estado}" type="radio" name="estado" id="inactivo" value="0">
                <div class="validacion" th:if="${#fields.hasErrors('estado')}" th:errors="*{estado}"></div>
            </div>
            <button type="submit">Enviar</button>
        </form>
        
    </section>
    <footer th:replace="layouts/base::footer"></footer>
</body>

</html>