<!DOCTYPE html>
<html lang="en">

<head th:replace="layouts/base_template::head">
</head>

<body>
    <div class="container-scroller">
        <!--***************************************************************************************************************************************************-->
        <!--------------------- Nav ------------------->
        <!--***************************************************************************************************************************************************-->
        <nav th:replace="layouts/base_template::navbar"></nav>
        <div class="container-fluid page-body-wrapper">
            <!--***************************************************************************************************************************************************-->
            <!--------------------- Combio de color ------------------->
            <!--***************************************************************************************************************************************************-->
            <div th:replace="layouts/base_template::color"></div>
            <!--***************************************************************************************************************************************************-->
            <!--------------------- Panel ------------------->
            <!--***************************************************************************************************************************************************-->
            <div th:replace="layouts/base_template::panel"></div>
            <!--***************************************************************************************************************************************************-->
            <!--------------------- Menú ------------------->
            <!--***************************************************************************************************************************************************-->
            <nav th:replace="layouts/base_template::sidebar"></nav>
            <div class="main-panel">
                <!--***************************************************************************************************************************************************-->
                <!---------------------  Contenido ------------------->
                <!--***************************************************************************************************************************************************-->
                <!--///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
                <div class="content-wrapper">
                    <div class="row">
                        <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                            <h3 class="font-weight-bold">Bienvenido</h3>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 grid-margin stretch-card">
                            <div class="card position-relative">
                                <div class="card-body table-responsive">
                                    <div id="detailedReports"
                                        class="carousel slide detailed-report-carousel position-static pt-2"
                                        data-ride="carousel">
                                        <div class="col-md-6">
                                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Entrada">
                                                Entrada
                                            </button>
                                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Salida">
                                                    Salida
                                                </button>
                                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Inventario">
                                                    Nuevo inventario
                                                </button>
                                        </div>
                                        <table class="table table-hover table-striped table-bordered">
                                            <thead>
                                                <th>id</th>
                                                <th>Nombre</th>
                                                <th>Entradas</th>
                                                <th>Salidas</th>
                                                <th>Stock</th>
                                                <th>Estado</th>
                                            </thead>
                                            <tbody th:with="total=0, totalsalida=0, totalentrada=0">
                                                <tr th:if="${inventariopros.size()>0}" th:each="p : ${inventariopros}">
                                                    <td th:text="${p.id}"></td>
                                                    <td th:text="${p.producto.nombre}"></td>
                                                    <td th:text="${p.entrada}"></td>
                                                    <td th:text="${p.salida}"></td>
                                                    <td th:text="${p.entrada}-${p.salida}"></td>
                                                    
                                                    <td th:if="${p.estado==true}">
                                                        <span>Activo</span>
                                                    </td>
                                                    <td th:if="${p.estado==false}">
                                                        <span>Inactivo</span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- MODAL ENTRADA -->
                    <div class="modal fade" id="Entrada" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="Entrada">Entrada</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>

                                <div class="modal-body card-body">

                                    <form class="forms-sample" th:action="@{/inventariopro/addentrada}" method="post"
                                        th:object="${entradapro}">
                                        <div>
                                            <label>Seleccione el producto:</label>
                                            <select class="js-example-basic-single w-100 select3-hidden-accessible"´ th:field="*{inventario}"  name="inventario" id="inventario" >
                                                <th:block th:if="${inventariopros.size()>0}" th:each="p : ${inventariopros}">
                                                    <option th:text="${p.producto.nombre}" th:value="${p.id}"></option>
                                                </th:block>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="Cantidad">Cantidad entrada:</label>
                                            <input th:field="*{cantidad}" type="number" id="cantidad" name="cantidad">
                                            <div class="validacion" th:if="${#fields.hasErrors('cantidad')}"
                                                th:errors="*{cantidad}"></div>
                                            <br>
                                        </div>
                                        <div>
                                            <label>Estado:</label>
                                            <label for="activo">Activo</label>
                                            <input th:field="*{estado}" type="radio" name="estado" id="activo"
                                                value="1">
                                            <label for="inactivo">Inactivo</label>
                                            <input th:field="*{estado}" type="radio" name="estado" id="inactivo"
                                                value="0">
                                            <div class="validacion" th:if="${#fields.hasErrors('estado')}"
                                                th:errors="*{estado}">
                                            </div>
                                        </div>
                                        <br>
                                        <div>
                                            <button type="submit">Enviar</button>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-light"
                                                data-dismiss="modal">Cerrar</button>
                                        </div>

                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                    <br>

                    <!-- MODAL SALIDA-->
                    
                    <div class="modal fade" id="Salida" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="Salida">Salida</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>

                                <div class="modal-body card-body">

                                    <form class="form-sample" th:action="@{/inventariopro/addsalida}" method="post"
                                        th:object="${salidapro}">
                                        <!-- Cantidad salida-->
                                        <!-- ******************* -->
                                        <div>
                                            <label for="Cantidad">Cantidad salida:</label>
                                            <input th:field="*{cantidad}" type="number" id="cantidad" name="cantidad">
                                            <div class="validacion" th:if="${#fields.hasErrors('cantidad')}"
                                                th:errors="*{cantidad}"></div>
                                            <br>
                                        </div>
                                        <div>
                                            <label>Seleccione el producto:</label>
                                            <select class="js-example-basic-single w-100 select3-hidden-accessible" th:field="*{inventario}"  name="inventario" id="inventario" >
                                                <th:block th:if="${inventariopros.size()>0}" th:each="p : ${inventariopros}">
                                                    <option th:text="${p.producto.nombre}" th:value="${p.id}"></option>
                                                </th:block>
                                            </select>
                                        </div>
                                        <!-- Estado -->
                                        <!-- ******************* -->
                                        <div>
                                            <label>Estado:</label>
                                            <label for="activo">Activo</label>
                                            <input th:field="*{estado}" type="radio" name="estado" id="activo"
                                                value="1">
                                            <label for="inactivo">Inactivo</label>
                                            <input th:field="*{estado}" type="radio" name="estado" id="inactivo"
                                                value="0">
                                            <div class="validacion" th:if="${#fields.hasErrors('estado')}"
                                                th:errors="*{estado}"></div>
                                        </div>
                                        <br>
                                        <div>
                                            <button type="submit">Enviar</button>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-light"
                                                data-dismiss="modal">Cerrar</button>
                                        </div>

                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                    <br>

                    <!-- MODAL INVENTARIO-->
                    <div class="modal fade" id="Inventario" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Inventario</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                 <div class="modal-body card-body">

                                    <form class="forms-sample" th:action="@{/inventariopro/addinventario}" method="post" th:object="${inventariopro}">
                                        <div class="form-group">
                                            <label for="estado">Estado:</label>
                                            <fieldset id="estado">
                                                <label for="activo">Activo</label>
                                                <input th:field="*{estado}" type="radio" name="activo" id="activo" value="1">
                                                <label for="activo">Inactivo</label>
                                                <input th:field="*{estado}" type="radio" name="activo" id="activo" value="0">
                                            </fieldset>
                                        </div>
                                        <div>
                                            <label>Seleccione el producto:</label>
                                            <select class="js-example-basic-single w-100 select3-hidden-accessible" th:field="*{producto}"  name="producto" id="producto" >
                                                <th:block th:each="p : ${productos}">
                                                    <th:block th:if="${p.estado==false}">
                                                            <option th:text="${p.nombre}" th:value="${p.id}"></option>
                                                    </th:block>
                                                </th:block>
                                            </select>
                                        </div>
                                        <br>
                                        <div>
                                            <button type="submit">Enviar</button>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-light"
                                                data-dismiss="modal">Cerrar</button>
                                        </div>
                                    </form>
                            </div>
                        </div>
                    </div>
                </div>



                </div>
                <!--///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
                <!--***************************************************************************************************************************************************-->
                <!------------------------- Footer -------------------------->
                <!--***************************************************************************************************************************************************-->
                <footer th:replace="layouts/base_template::footer"></footer>
            </div>
        </div>
    </div>
    <!--***************************************************************************************************************************************************-->
    <!--------------------- Scripts------------------->
    <!--***************************************************************************************************************************************************-->
    <div th:replace="layouts/base_template::script"></div>
</body>

</html>