<!DOCTYPE html>
<html xmlns:th="https://wwww.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Empresa</title>
    <link rel="stylesheet" th:href="@{/assets/css/style.css}">
</head>
<body>
    <header th:replace="layouts/base::header"></header>
    <nav><a href="#">Home</a></nav>
    <aside th:replace="layouts/base::aside"></aside>
    <section>
        <article>
            <h1>Empresa</h1>
            <form th:action="@{/empresa/add}" method="post" th:object="${empresa}">
                
                <!-- nombre -->
                <!-- ******************* -->
                <div>
                    <label for="nombre">Nombre de la empresa:</label>
                    <input th:field="*{nombre}" type="text" id="nombre" name="nombre" placeholder="Nombre">
                    <div class="validacion" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div>
                    <br>
                </div>
                <!-- nombre de contacto -->
                <!-- ******************* -->
                <div>
                    <label for="contacto">Nombre de contacto:</label>
                    <input th:field="*{contacto}" type="text" id="contacto" name="contacto" placeholder="Nombre de contacto">
                    <div class="validacion" th:if="${#fields.hasErrors('contacto')}" th:errors="*{contacto}"></div>
                    <br>
                </div>
                <!-- especialidad -->
                <!-- ******************* -->
                <div>
                    <label for="especialidad">Especialidad:</label>
                    <select th:field="*{especialidad}" name="especialidad" id="especialidad">
                        <option value="0">Seleccione la Especialidad </option>
                        <th:block th:each="especialidad : ${especialidades}">
                            <option th:text="${especialidad.nombre}" th:value="${especialidad.id}"></option>
                        </th:block>
                    </select>
                    <div class="validacion" th:if="${#fields.hasErrors('especialidad')}" th:errors="*{especialidad}"></div>
                    <br>
                </div>
                <!-- agregar especialidad -->
                <!-- ******************* -->
                <div>
                    <a href="#agregarEspecialidad">Agregar Especialidad</a>
                    <br>
                </div>
                <!-- direccion -->
                <!-- ******************* -->
                <div>
                    <label for="direccion">Dirección:</label>
                    <input th:field="*{direccion}" type="text" id="direccion" name="direccion" placeholder="Dirección">
                    <div class="validacion" th:if="${#fields.hasErrors('direccion')}" th:errors="*{direccion}"></div>
                    <br>
                </div>
                <!-- email -->
                <!-- ******************* -->
                <div>
                    <label for="email">Email:</label>
                    <input th:field="*{email}" type="email" name="email" id="email">
                    <div class="validacion" th:if="${#fields.hasErrors('direccion')}" th:errors="*{direccion}"></div>
                    <br>
                    
                </div>
                <!-- telefono -->
                <!-- ******************* -->
                <div>
                    <label for="telefono">telefono:</label>
                    <input th:field="*{telefono}" type="number" id="telefono" name="telefono" >
                    <div class="validacion" th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}"></div>
                    <br>
                </div>
                <!-- Fotografia -->
                <!-- ******************* -->
                <div>
                    <label for="archivo">Fotografia:</label>
                    <input type="file" name="foto">
                </div>
                <!-- Estado -->
                <!-- ******************* -->
                <div>
                    <label>Estado:</label>
                        <label for="activo">Activo</label>
                        <input th:field="*{estado}" type="radio" name="estado" id="activo" value="1">
                        <label for="inactivo">Inactivo</label>
                        <input th:field="*{estado}" type="radio" name="estado" id="inactivo" value="0">
                        <div class="validacion" th:if="${#fields.hasErrors('estado')}" th:errors="*{estado}"></div>
                </div>
                <br>

                <button type="submit">Enviar</button>

            </form>
            <!-- ******************************************************* -->
            <!-- ---------------Modal de agregar especialidad ----------------- -->
            <!-- ******************************************************* -->
            <div id="agregarEspecialidad" class="modal">
                <div class="modal-contenido">
                    <a href="#">X</a>
                    <h2>Agregar especialidad</h2>
                    <form th:action="@{/especialidad/add}" method="post" th:object="${especialidad}">
                        <!-- nombre -->
                        <!-- ******************* -->
                        <div>
                            <label for="nombre">Nombre del especialidad</label>
                            <input th:field="*{nombre}"type="text" name="nombre" id="nombre" placeholder="Nombre">
                            <div th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div>
                            <br>
                        </div>
                        <!-- Descripción del especialidad-->
                        <!-- ******************* -->
                        <div>
                            <label for="descripcion">Descripción del especialidad</label>
                            <input th:field="*{descripcion}" type="text" name="descripcion" id="descripcion" placeholder="Descripción">
                            <div th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}"></div>
                            <br>
                        </div>
                        <!-- Estado -->
                        <!-- ******************* -->
                        <div>
                            <label for="estado">Estado:</label>
                            <fieldset id="estado">
                                <label for="activo">Activo</label>
                                <input type="radio" name="activo" id="activo" value="1">
                                <label for="activo">Inactivo</label>
                                <input type="radio" name="activo" id="activo" value="0">
                            </fieldset>
                        </div>
                        <br>
                        <button type="submit">Enviar</button>

                    </form>
                </div>  
            </div>
        </article>
    </section>
    <footer th:replace="layouts/base::footer"></footer>
</body>
</html>