<!DOCTYPE html>
<html lang="en">

<head th:replace="layouts/base_template::head">
</head>

<body>
    <div class="container-scroller">
        <!--***************************************************************************************************************************************************-->
        <!--------------------- Nav ------------------->
        <!--***************************************************************************************************************************************************-->
        <nav th:replace="layouts/base_template::navbar"></nav>
        <div class="container-fluid page-body-wrapper">
            <!--***************************************************************************************************************************************************-->
            <!--------------------- Combio de color ------------------->
            <!--***************************************************************************************************************************************************-->
            <div th:replace="layouts/base_template::color"></div>
            <!--***************************************************************************************************************************************************-->
            <!--------------------- Panel ------------------->
            <!--***************************************************************************************************************************************************-->
            <div th:replace="layouts/base_template::panel"></div>
            <!--***************************************************************************************************************************************************-->
            <!--------------------- Menú ------------------->
            <!--***************************************************************************************************************************************************-->
            <nav th:replace="layouts/base_template::sidebar"></nav>
            <div class="main-panel">
                <!--***************************************************************************************************************************************************-->
                <!---------------------  Contenido ------------------->
                <!--***************************************************************************************************************************************************-->
                <!--///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
                <div class="content-wrapper">
                    <div class="row">
                        <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                            <h3 class="font-weight-bold">Welcome Aamir</h3>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 grid-margin stretch-card">
                            <div class="card position-relative">
                                <div class="card-body">
                                    <div id="detailedReports"
                                        class="carousel slide detailed-report-carousel position-static pt-2"
                                        data-ride="carousel">
                                        <!-- aqui -->
                                        <div class="col-md-6">
                                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#entradaModal">
                                                Entrada
                                            </button>
                                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#salidaModal">
                                                    Salida
                                                </button>
                                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#inventarioModal">
                                                    Nuevo inventario
                                                </button>
                                        </div>
                                        <table class="table table-hover table-striped table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>id</th>
                                                    <th>Nombre</th>
                                                    <th>descripción</th>
                                                    <th>Estado</th>
                                                    <th>Categorías</th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                            </tbody>
                                        </table>
                                        
                                        <!-- Modal Inventario-->
                                        <div class="modal fade" id="inventarioModal" tabindex="-1"
                                            aria-labelledby="inventarioModalLabel" style="display: none;"
                                            aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="inventarioModalLabel">Agregar
                                                            inventario
                                                        </h5>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                            <span aria-hidden="true">×</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body card-body">
                                                        <h2>inventario</h2>
                                                        <form th:action="@{/inventario/add}"
                                                            method="post">
                                                            <div>
                                                                <label for="tipoUnidad">Tipo Unidad:</label>
                                                                <input type="text" id="tipoUnidad" name="tipoUnidad"
                                                                    value="">

                                                                <br>
                                                            </div>
                                                            <div>
                                                                <label>Estado:</label>
                                                                <label for="activo">Activo</label>
                                                                <input type="radio" name="estado" id="activo" value="1">
                                                                <label for="inactivo">Inactivo</label>
                                                                <input type="radio" name="estado" id="inactivo"
                                                                    value="0">

                                                            </div>
                                                            <button type="submit">Enviar</button>
                                                        </form>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-light"
                                                            data-dismiss="modal">Cerrar</button>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Modal Entrada-->
                                        <div class="modal fade" id="entradaModal" tabindex="-1"
                                            aria-labelledby="entradaModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="entradaModalLabel">Agregar
                                                            entrada
                                                        </h5>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                            <span aria-hidden="true">×</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body card-body">
                                                        <h2>Entrada</h2>
                                                        <form th:action="@{/inventario/addentrada}" method="post">
                                                            <!-- fecha entrada -->
                                                            <!-- ******************* -->
                                                            <div>
                                                                <label for="fecha">Fecha entrada:</label>
                                                                <input type="date" id="fecha" name="fecha" value="">

                                                                <br>
                                                            </div>
                                                            <!-- Cantidad entrada-->
                                                            <!-- ******************* -->
                                                            <div>
                                                                <label for="Cantidad">Cantidad entrada:</label>
                                                                <input type="number" id="cantidad" name="cantidad"
                                                                    value="">

                                                                <br>
                                                            </div>
                                                            <!-- Estado -->
                                                            <!-- ******************* -->
                                                            <div>
                                                                <label>Estado:</label>
                                                                <label for="activo">Activo</label>
                                                                <input type="radio" name="estado" id="activo" value="1">
                                                                <label for="inactivo">Inactivo</label>
                                                                <input type="radio" name="estado" id="inactivo"
                                                                    value="0">

                                                            </div>
                                                            <button type="submit">Enviar</button>
                                                        </form>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-light"
                                                            data-dismiss="modal">Cerrar</button>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Modal Salida-->
                                        <div class="modal fade" id="salidaModal" tabindex="-1"
                                            aria-labelledby="salidaModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="salidaModalLabel">Agregar
                                                            salida
                                                        </h5>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                            <span aria-hidden="true">×</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body card-body">
                                                        <h2>Salida</h2>
                                                        <form th:action="@{/inventario/addsalida}"
                                                            method="post">
                                                            <!-- fecha salida -->
                                                            <!-- ******************* -->
                                                            <div>
                                                                <label for="fecha">Fecha salida:</label>
                                                                <input type="date" id="fecha" name="fecha" value="">

                                                                <br>
                                                            </div>
                                                            <!-- Cantidad salida-->
                                                            <!-- ******************* -->
                                                            <div>
                                                                <label for="Cantidad">Cantidad salida:</label>
                                                                <input type="number" id="cantidad" name="cantidad"
                                                                    value="">

                                                                <br>
                                                            </div>
                                                            <!-- Estado -->
                                                            <!-- ******************* -->
                                                            <div>
                                                                <label>Estado:</label>
                                                                <label for="activo">Activo</label>
                                                                <input type="radio" name="estado" id="activo" value="1">
                                                                <label for="inactivo">Inactivo</label>
                                                                <input type="radio" name="estado" id="inactivo"
                                                                    value="0">

                                                            </div>
                                                            <button type="submit">Enviar</button>
                                                        </form>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-light"
                                                            data-dismiss="modal">Cerrar</button>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- fin del aqui -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!--///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
                <!--***************************************************************************************************************************************************-->
                <!------------------------- Footer -------------------------->
                <!--***************************************************************************************************************************************************-->
                <footer th:replace="layouts/base_template::footer"></footer>
            </div>
        </div>
    </div>
    <!--***************************************************************************************************************************************************-->
    <!--------------------- Scripts------------------->
    <!--***************************************************************************************************************************************************-->
    <div th:replace="layouts/base_template::script"></div>
</body>

</html>