<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" th:href="@{/assets/css/style.css}">
    
</head>
<body>
    <header th:replace="layouts/base::header"></header>
    <nav><a href="#">Home</a></nav>
    <aside th:replace="layouts/base::aside"></aside>
    <section>
        <article>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, nulla! Magni velit molestias 
            aperiam voluptatibus earum officiis. Quasi dolorum neque porro aspernatur soluta omnis iure est 
            placeat accusamus ipsa nam velit unde adipisci, veniam provident ipsam eum sed eius reprehenderit!</p>
        </article>
    </section>
    <footer th:replace="layouts/base::footer"></footer>
</body>
</html>