<!DOCTYPE html>
<html lang="en">

<head th:replace="layouts/base_template::head">
</head>

<body>
    <div class="container-scroller">
        <!--***************************************************************************************************************************************************-->
        <!--------------------- Nav ------------------->
        <!--***************************************************************************************************************************************************-->
        <nav th:replace="layouts/base_template::navbar"></nav>
        <div class="container-fluid page-body-wrapper">
            <!--***************************************************************************************************************************************************-->
            <!--------------------- Combio de color ------------------->
            <!--***************************************************************************************************************************************************-->
            <div th:replace="layouts/base_template::color"></div>
            <!--***************************************************************************************************************************************************-->
            <!--------------------- Panel ------------------->
            <!--***************************************************************************************************************************************************-->
            <div th:replace="layouts/base_template::panel"></div>
            <!--***************************************************************************************************************************************************-->
            <!--------------------- Menú ------------------->
            <!--***************************************************************************************************************************************************-->
            <nav th:replace="layouts/base_template::sidebar"></nav>
            <div class="main-panel">
                <!--***************************************************************************************************************************************************-->
                <!---------------------  Contenido ------------------->
                <!--***************************************************************************************************************************************************-->
                <!--///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
                <div class="content-wrapper">
                    <div class="row">
                        <div class="col-md-12 grid-margin stretch-card">
                            <div class="card position-relative">
                                <div class="card-body">
                                    <div id="detailedReports"
                                        class="carousel slide detailed-report-carousel position-static pt-2"
                                        data-ride="carousel">
                                        <!-- aqui -->
                                        <form class="form-sample" action="@{/producto/add}"
                                            enctype="multipart/form-data" method="post" object="${producto}">
                                            <h4 class="card-title">Fabricación</h4>
                                            <p class="card-description">
                                                Información de Fabricación
                                            </p>
                                            <!-- nombre -->
                                            <!-- ******************* -->
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label for="nombre">Nombre:</label><br>
                                                    <input class="form-control" field="*{nombre}" type="text"
                                                        id="nombre" name="nombre" placeholder="Nombre">
                                                    <div class="validacion" if="${#fields.hasErrors('nombre')}"
                                                        errors="*{nombre}"></div>
                                                    <br>
                                                </div>
                                                <!-- Descripción del categoria-->
                                                <!-- ******************* -->
                                                <div class="col-md-6">
                                                    <label for="nombre">Descripción del producto:</label><br>
                                                    <textarea class="form-control" field="*{descripcion}"
                                                        name="descripcion" id="descripcion"
                                                        placeholder="Descripción"></textarea>
                                                    <div class="validacion" if="${#fields.hasErrors('descripcion')}"
                                                        errors="*{descripcion}"></div>
                                                    <br>
                                                </div>
                                            </div>
                                            <!-- agregar categoria -->
                                            <!-- ******************* -->
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="card">
                                                        <div class="form-group">
                                                            <div field="*{categoria}">
                                                                <label>Seleccione la categoria</label>
                                                                <select class="js-example-basic-multiple w-100"
                                                                    multiple="multiple" name="categoria" id="categoria">
                                                                    <block each="categoria :${categorias}">
                                                                        <option text="${categoria.nombre}"
                                                                            value="${categoria.id}"></option>
                                                                    </block>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <!-- agregar Empleado -->
                                            <!-- ******************* -->
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label class="col-sm-3 col-form-label"
                                                        for="diseno">Empleado de diseño</label>
                                                    <div class="col-sm-9">
                                                        <select class="form-control" field="*{diseno}"
                                                            name="diseno" id="diseno">
                                                            <option value="0">Seleccione la empleado </option>
                                                            <block each="empleado : ${empleadoes}">
                                                                <option text="${empleado.nombre}"
                                                                    value="${empleado.id}"></option>
                                                            </block>
                                                        </select>
                                                        <div class="validacion"
                                                            if="${#fields.hasErrors('diseno')}"
                                                            errors="*{diseno}"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label class="col-sm-3 col-form-label"
                                                        for="corte">Empleado de corte</label>
                                                    <div class="col-sm-9">
                                                        <select class="form-control" field="*{corte}"
                                                            name="corte" id="corte">
                                                            <option value="0">Seleccione la empleado </option>
                                                            <block each="empleado : ${empleadoes}">
                                                                <option text="${empleado.nombre}"
                                                                    value="${empleado.id}"></option>
                                                            </block>
                                                        </select>
                                                        <div class="validacion"
                                                            if="${#fields.hasErrors('corte')}"
                                                            errors="*{corte}"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label class="col-sm-3 col-form-label"
                                                        for="confeccion">Empleado de confeccion</label>
                                                    <div class="col-sm-9">
                                                        <select class="form-control" field="*{confeccion}"
                                                            name="confeccion" id="confeccion">
                                                            <option value="0">Seleccione la empleado </option>
                                                            <block each="empleado : ${empleadoes}">
                                                                <option text="${empleado.nombre}"
                                                                    value="${empleado.id}"></option>
                                                            </block>
                                                        </select>
                                                        <div class="validacion"
                                                            if="${#fields.hasErrors('confeccion')}"
                                                            errors="*{confeccion}"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label class="col-sm-3 col-form-label"
                                                        for="tintura">Empleado de tintura</label>
                                                    <div class="col-sm-9">
                                                        <select class="form-control" field="*{tintura}"
                                                            name="tintura" id="tintura">
                                                            <option value="0">Seleccione la empleado </option>
                                                            <block each="empleado : ${empleadoes}">
                                                                <option text="${empleado.nombre}"
                                                                    value="${empleado.id}"></option>
                                                            </block>
                                                        </select>
                                                        <div class="validacion"
                                                            if="${#fields.hasErrors('tintura')}"
                                                            errors="*{tintura}"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label class="col-sm-3 col-form-label"
                                                        for="empaquetado">Empleado de empaquetado</label>
                                                    <div class="col-sm-9">
                                                        <select class="form-control" field="*{empaquetado}"
                                                            name="empaquetado" id="empaquetado">
                                                            <option value="0">Seleccione la empleado </option>
                                                            <block each="empleado : ${empleadoes}">
                                                                <option text="${empleado.nombre}"
                                                                    value="${empleado.id}"></option>
                                                            </block>
                                                        </select>
                                                        <div class="validacion"
                                                            if="${#fields.hasErrors('empaquetado')}"
                                                            errors="*{empaquetado}"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label class="col-sm-3 col-form-label"
                                                        for="control">Empleado de control de calidad</label>
                                                    <div class="col-sm-9">
                                                        <select class="form-control" field="*{control}"
                                                            name="control" id="control">
                                                            <option value="0">Seleccione la empleado </option>
                                                            <block each="empleado : ${empleadoes}">
                                                                <option text="${empleado.nombre}"
                                                                    value="${empleado.id}"></option>
                                                            </block>
                                                        </select>
                                                        <div class="validacion"
                                                            if="${#fields.hasErrors('control')}"
                                                            errors="*{control}"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <button type="submit" class="btn btn-primary mr-2">Enviar</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!--///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
                <!--***************************************************************************************************************************************************-->
                <!------------------------- Footer -------------------------->
                <!--***************************************************************************************************************************************************-->
                <footer th:replace="layouts/base_template::footer"></footer>
            </div>
        </div>
    </div>
    <!--***************************************************************************************************************************************************-->
    <!--------------------- Scripts------------------->
    <!--***************************************************************************************************************************************************-->
    <div th:replace="layouts/base_template::script"></div>
</body>

</html>