<!DOCTYPE html>
<html lang="en">

<head th:replace="layouts/base_template::head">
</head>
<body>
    <div class="container-scroller">
<!--***************************************************************************************************************************************************-->
<!--------------------- Nav ------------------->
<!--***************************************************************************************************************************************************-->
        <nav th:replace="layouts/base_template::navbar"></nav>
        <div class="container-fluid page-body-wrapper">
<!--***************************************************************************************************************************************************-->
<!--------------------- Combio de color ------------------->
<!--***************************************************************************************************************************************************-->
            <div th:replace="layouts/base_template::color"></div>
<!--***************************************************************************************************************************************************-->
<!--------------------- Panel ------------------->
<!--***************************************************************************************************************************************************-->
            <div th:replace="layouts/base_template::panel"></div>
<!--***************************************************************************************************************************************************-->
<!--------------------- Menú ------------------->
<!--***************************************************************************************************************************************************-->
            <nav th:replace="layouts/base_template::sidebar"></nav>
            <div class="main-panel">
<!--***************************************************************************************************************************************************-->
<!---------------------  Contenido ------------------->
<!--***************************************************************************************************************************************************-->
<!--///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
                <div class="content-wrapper">
                    <div class="row">
                        <div class="col-md-12 grid-margin stretch-card">
                            <div class="card position-relative">
                                <div class="card-body">
                                    <div id="detailedReports" class="carousel slide detailed-report-carousel position-static pt-2" data-ride="carousel">
                                        <!-- aqui -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
<!--///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
<!--***************************************************************************************************************************************************-->
<!------------------------- Footer -------------------------->
<!--***************************************************************************************************************************************************-->
                <footer th:replace="layouts/base_template::footer"></footer>
            </div>
        </div>
    </div>
<!--***************************************************************************************************************************************************-->
<!--------------------- Scripts------------------->
<!--***************************************************************************************************************************************************-->
    <div th:replace="layouts/base_template::script"></div>
</body>

</html>