<!DOCTYPE html>
<html xmlns:th="https://wwww.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insumo</title>
    <link rel="stylesheet" th:href="@{/assets/css/insumo.css}">
</head>
<body>
    <section>
        <article>
            <h1>Insumo</h1>
            <form th:action="@{/insumo/add}" method="post" th:object="${insumo}">
                <!-- nombre -->
                <!-- ******************* -->
                <div>
                    <label for="nombre">Nombre:</label>
                    <input th:field="*{nombre}" type="text" id="nombre" name="nombre" placeholder="Nombre">
                    <br>
                </div>
                <!-- Descripción del Tipo-->
                <!-- ******************* -->
                <div>
                    <label for="descripcion">Descripción del Insumo:</label><br>
                    <textarea th:field="*{descripcion}" name="descripcion" id="descripcion" placeholder="Descripción" cols="30" rows="10"></textarea>
                    <br>
                </div>
                <!-- Tipo -->
                <!-- ******************* -->
                <div>
                    <label for="tipo">Tipo:</label>
                    <select th:field="*{tipo}" name="tipo" id="tipo">
                        <option value="0">Selecciones el tipo...</option>
                        <th:block th:each="tipo : ${tipos}">
                            <option th:text="${tipo.nombre}" th:value="${tipo.id}"></option>
                        </th:block>
                    </select>
                    <br>
                </div>
                <!-- agregar Tipo -->
                <!-- ******************* -->
                <div>
                    <a href="#agregarTipo">Agregar Tipo</a>
                    <br>
                </div>
                <!-- material -->
                <!-- ******************* -->
                <div>
                    <label for="material">Material del insumo:</label>
                    <input th:field="*{material}" type="text" id="material" name="material" placeholder="material">
                    <br>
                </div>
                <!-- Fotografia -->
                <!-- ******************* -->
                <div>
                    <label for="archivo">Fotografia:</label>
                    <input type="file" name="foto">
                </div>
                <!-- Estado -->
                <!-- ******************* -->
                <div>
                    <label for="estados">Estado:</label>
                    <fieldset id="estados">
                        <label for="activo">Activo</label>
                        <input th:filed="*{estado}" type="radio" name="estado" id="activo" value="1">
                        <label for="inactivo">Inactivo</label>
                        <input th:filed="*{estado}" type="radio" name="estado" id="inactivo" value="0">
                    </fieldset>
                    <br>
                </div>
                

                <button type="submit">Enviar</button>
                

            </form>
            <!-- ******************************************************* -->
            <!-- ---------------Tipos del insimo ----------------- -->
            <!-- ******************************************************* -->
            <table>
                <thead>
                <th>id</th>
                <th>Nombre</th>  
                <th>Estado</th>    
                <th>Accion</th>      
            </thead>
            <tbody>
                <tr th:if="${insumoTipo.size()>0}" th:each="i : ${insumoTipo}">
                    <td th:text="${i.id}"></td>
                    <td th:text="${i.nombre}"></td>
                    <td th:if="${i.estado==true}">
                        <span>Activo</span>
                    </td>
                    <td th:if="${i.estado==false}">
                        <span>Inactivo</span>
                    </td>
                    <td>
                        <a th:href="@{../tipo/delete/}+${i.id}">Xxx</a>
                    </td>
                </tr>
            </tbody>
            </table>
            <!-- ******************************************************* -->
            <!-- ---------------Modal de agregar Tipo ----------------- -->
            <!-- ******************************************************* -->
            <div id="agregarTipo" class="modal">
                <div class="modal-contenido">
                    <a href="#">X</a>
                    <h2>Agregar Tipo</h2>
                    <form th:action="@{/tipo/add}" method="post" th:object="${tipo}">
                        <!-- nombre -->
                        <!-- ******************* -->
                        <div>
                            <label for="nombre">Nombre del Tipo</label>
                            <input th:field="*{nombre}" type="text" name="nombre" id="nombre" placeholder="Nombre">
                            <div th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div>
                            <br>
                        </div>
                        <!-- Descripción del Tipo-->
                        <!-- ******************* -->
                        <div>
                            <label for="nombre">Descripción del Tipo</label>
                            <textarea th:field="*{descripcion}" name="descripcion" id="descripcion" placeholder="Descripción" cols="30" rows="10"></textarea>
                            <div th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}"></div>
                            <br>
                        </div>
                        <!-- Estado -->
                        <!-- ******************* -->
                        <div>
                            <label for="estados">Estado:</label>
                            <fieldset id="estados">
                                <label for="activo">Activo</label>
                                <input th:filed="*{estado}" type="radio" name="estado" id="activo" value="1">
                                <label for="inactivo">Inactivo</label>
                                <input th:filed="*{estado}" type="radio" name="estado" id="inactivo" value="0">
                            </fieldset>
                            <br>
                        </div>
                        <button type="submit">Enviar</button>

                    </form>
                </div>  
            </div>
        </article>
    </section>
</body>
</html>