<!DOCTYPE html>
<html lang="en">

<head th:replace="layouts/base_template::head">
</head>
<body>
    <div class="container-scroller">
<!--***************************************************************************************************************************************************-->
<!--------------------- Nav ------------------->
<!--***************************************************************************************************************************************************-->
        <nav th:replace="layouts/base_template::navbar"></nav>
        <div class="container-fluid page-body-wrapper">
<!--***************************************************************************************************************************************************-->
<!--------------------- Combio de color ------------------->
<!--***************************************************************************************************************************************************-->
            <div th:replace="layouts/base_template::color"></div>
<!--***************************************************************************************************************************************************-->
<!--------------------- Panel ------------------->
<!--***************************************************************************************************************************************************-->
            <div th:replace="layouts/base_template::panel"></div>
<!--***************************************************************************************************************************************************-->
<!--------------------- Menú ------------------->
<!--***************************************************************************************************************************************************-->
            <nav th:replace="layouts/base_template::sidebar"></nav>
            <div class="main-panel">
<!--***************************************************************************************************************************************************-->
<!---------------------  Contenido ------------------->
<!--***************************************************************************************************************************************************-->
<!--///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
                <div class="content-wrapper">
                    <div class="row">
                        <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                            <h3 class="font-weight-bold">Welcome Aamir</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 grid-margin stretch-card">
                            <div class="card position-relative">
                                <div class="card-body">
                                    <div id="detailedReports"
                                        class="carousel slide detailed-report-carousel position-static pt-2" data-ride="carousel">
                                        <a th:href="@{/empleado/formulario}">Registrar empleado</a>
                                        <table>
                                            <thead>
                                            <th>id</th>
                                            <th>identificacion</th>
                                            <th>Nombre</th>
                                            <th>Cargo</th>
                                            <th>Genero</th>
                                            <th>Fecha Nacimiento</th>
                                            <th>Dirección</th>
                                            <th>Telefono</th>
                                            <th>Email</th>
                                            <th>Estado</th>
                                        </thead>
                                        <tbody>
                                            <tr th:if="${empleados.size()>0}" th:each="e : ${empleados}">
                                                <td th:text="${e.id}"></td>
                                                <td th:text="${e.identificacion}"></td>
                                                <td th:text="${e.nombre+' '+e.apellido}"></td>
                                                <td th:text="${e.cargo.nombre}"></td>
                                                <td th:text="${e.genero}"></td>
                                                <td th:text="${e.fecha}"></td>
                                                <td th:text="${e.direccion}"></td>
                                                <td th:text="${e.telefono}"></td>
                                                <td th:text="${e.email}"></td>
                                                <td th:if="${e.estado==true}">
                                                    <span>Activo</span>
                                                </td>
                                                <td th:if="${e.estado==false}">
                                                    <span>Inactivo</span>
                                                </td>
                                            </tr>
                                        </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
<!--///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
<!--***************************************************************************************************************************************************-->
<!------------------------- Footer -------------------------->
<!--***************************************************************************************************************************************************-->
                <footer th:replace="layouts/base_template::footer"></footer>
            </div>
        </div>
    </div>
<!--***************************************************************************************************************************************************-->
<!--------------------- Scripts------------------->
<!--***************************************************************************************************************************************************-->
    <div th:replace="layouts/base_template::script"></div>
</body>

</html>